<% provide(:title,'Youhoo About') %>
<div class="container" style="margin-top:20px;">
  <h1> CookIT 2기 공익서비스 제작 </h1>
<p>Developer : <%= link_to("Park ByeongSang", 'http://www.ggogun.kr') %></p>
<p>Developer : <%= link_to("Kim MinJin", '#') %></p>
<p>Developer : <%= link_to("Lee A Reum", '#') %></p>
<p>Designer : <%= link_to("Seo HanGyo", '#') %></p>
<p>Designer : <%= link_to("Lee YuJin", '#') %></p>
<p>Tester : <%= link_to("Ahn SeoHoo", '#') %></p>
<p>Project Manager : <%= link_to("Kim DaeOng", '#') %></p>
<p>Our Mentor : <%= link_to("Kim HyeongJin", '#') %></p>
<p>Our Mentor : <%= link_to("Jung MoonSik", '#') %></p>
<p>Our Mentor : <%= link_to("Yang YoonHo", '#') %></p>
<p>Our Mentor : <%= link_to("Jang SangMi", '#') %></p>
<p>Our Mentor : <%= link_to("Jang JaeYeon", '#') %></p>
<p>Special Thanks : <%= link_to("Daum Foundation", 'www.daumfoundation.org/') %> And <%= link_to("Kim JuWon", '#') %></p>

</div>
