<% provide(:title,'Home') %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <!-- Carousel
    ================================================== -->
 <% titles = ["Talk About Volunteer", "Write Your Eplilogue", "Your Best Epilogue?!"] %>
 <% leads = ["공익서비스팀 후기공유서비스 제작중입니다. 당신의 못다한 이야기를 들려주세요.",
   "안녕하세요 쿠킷입니다 당신의 후기는 어떠십니까",
             "공익서비스팀 후기공유서비스 제작중입니다. 최고의 후기를 뽑아주세요."] %>
 <% btnText = ["Sign in Facebook", "Learn more", "View Epilogue"] %>
 <% word_size = ["523x23", "435x23", "325x51"] %>

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% (0..2).each do |n| %>
            <% if n == 0 %>
                <div class="item active">
            <% else %>
                <div class="item">
            <% end %>
            <%= image_tag("main_back#{n}.png", alt: "img#{n+1}") %>
            <div class="container">
              <div class="carousel-caption">
                <h1><%= titles[n] %></h1>
                <p class="lead"><%= leads[n] %>
                <% if n==1 %>
                  <br />가슴 떨리는 이야기를 들려주세요.
                <% end %>
                
                </p>
                <% if !current_user && n == 0 %>
                  <%= link_to "Sign in Facebook", "/auth/facebook", class: "btn btn-large btn-primary"  %>
                <% elsif n == 1 %>
                  <%= link_to btnText[n], new_article_path, class: "btn btn-large btn-primary"  %>
                <% elsif n == 2 %>
                  <%= link_to btnText[n], articles_path, class: "btn btn-large btn-primary"  %>
                <% end %>
              </div>
              <% if n==2 %>
                <div class="main_picture">
                  <div class="album"><%= image_tag("fir.png", alt:"test", class:"pic") %></div>
                  <div class="album"><%= image_tag("sec.png", alt:"test", class:"pic") %></div>
                  <div class="album"><%= image_tag("thir.png", alt:"test", class:"pic") %></div>
                  <div class="album"><%= image_tag("four.png", alt:"test", class:"pic") %></div>
                </div>
              <% end %>


          </div>
        </div>

    <% end %>
        </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->




        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <% img_src = ["browser-icon-chrome.png", "browser-icon-firefox.png", "browser-icon-safari.png"] %>
        <% titles = ["First featurette headling.", "Oh yeah, it's that good.", "And lastly, this one."] %>
        <% sTitles = ["It'll blow your mind.", "See for yourself.", "Checkmate."] %>
        <% leads = ["Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.",
                    "Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.",
                    "Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo."] %>
            <div class="marketing">

              <% (0..2).each do |n| %>
                <div class="featurette main_img<%=n%>">
                    <%= image_tag("main#{n}.png", alt:"image", class:"main_image") %>
                    <% if n ==1 %>
                        <div class="youhoo_btn">
                        Click YOUHOOs
                      </div>
                    <% end %>
                  </div>
                <% end %>


                                                        <!-- /END THE FEATURETTES -->

                                                      </div>
</body>
</html>
