<div class="container">
                                        <div class="row">
  <div class="span12">
    <div id="content" style="padding-top:100px;">
      <div data-toggle="buttons-radio" class="btn-group" id="portfolio-filter">

        <% if params[:action] == "index" %>
          <%= link_to "All", '#', :class=> "btn btn-danger btn-small active" %>
          <% if current_user %>
            <%= link_to "Your Epilogue", 'myArticles', :class=> "btn btn-danger btn-small" %>
            <%= link_to "Another Epilogue", 'anoArticles', :class=> "btn btn-danger btn-small " %>
          <% end %>
        <% elsif current_user && params[:action] == "myArticles" %>
          <%= link_to "All", articles_path, :class=> "btn btn-danger btn-small" %>
          <%= link_to "Your Epilogue", '#', :class=> "btn btn-danger btn-small active" %>
          <%= link_to "Another Epilogue", 'anoArticles', :class=> "btn btn-danger btn-small " %>
        <% elsif current_user && params[:action] == "anoArticles" %>
          <%= link_to "All", articles_path, :class=> "btn btn-danger btn-small" %>
          <%= link_to "Your Epilogue", 'myArticles', :class=> "btn btn-danger btn-small" %>
          <%= link_to "Another Epilogue", '#', :class=> "btn btn-danger btn-small active" %>
        <% else %>
        <% end %>
      </div> 
      <div id="portfolio-wrapper portfolio-three-column">
          <ul id="portfolio-list" class="thumbnails">
            <%- @articles.each do |article| -%>
              <% pic_exist = Picture.find_by_article_id(article.id) %>
              <li class="span4 block">
              <% if pic_exist != nil %>
                <% @image = article.picture.first %>
                <%= link_to image_tag(@image.image_url(:thumb), :alt => "picture", :class => "attachment-port-full wp-post-image", :style=>"width:370px;height:245px;"), article_path(article.id) %>
              <% else %>
                <%= link_to image_tag("cookit.jpg", :alt => "picture", :class => "attachment-port-full wp-post-image"), article_path(article.id) %>
              <% end %>


              <h4><%= link_to article.title, article_path(article.id) %></h4>
              <!-- <h6> edit    delete </h6> -->
              <p class="project-links"><%= link_to "후기 보기", article_path(article.id), :class=>"btn btn-block btn-primary btn-default" %></p>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @articles %>
</div>

</br> </br>
<!-- Current_user : <%= !current_user.nil? %> -->
</div>
