<% provide(:title,'Report Volunteer') %>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
jQuery(document).ready(function($){
  $("a[rel='colorbox']").colorbox({
    transition:'elastic',.
    opacity:'0.7',.
    maxHeight:'90%'
  });
 
  $("a.gallery").colorbox({
    rel:'group'
  });
  $("a[rel='colorboxvideo']").colorbox({
    iframe:true,.
    transition:'elastic',.
    opacity:'0.7',
    innerWidth:'60%',.
    innerHeight:'80%'
  });
});
</script>
<div class="container">
                                        <div class="row">
  <div class="span12">
    <div id="content" style="padding-top:100px;">
      <div data-toggle="buttons-radio" class="btn-group" id="portfolio-filter">
        <a title="" data-filter="*" href="#all" class="btn btn-danger btn-small active">All</a>
        <a rel="cityscape" title="" href="#cityscape" class="btn btn-danger btn-small" data-filter=".cityscape">Best Epilogue</a>
        <a rel="nature" title="" href="#nature" class="btn btn-danger btn-small" data-filter=".nature">Your Epilogue</a>
        <a rel="wildlife" title="" href="#wildlife" class="btn btn-danger btn-small" data-filter=".wildlife">Another Epilogue</a>
      </div>  
<% paginate @articles %>
      <div id="portfolio-wrapper portfolio-three-column">
          <ul id="portfolio-list" class="thumbnails">
            <%- @articles.each do |article| -%>
              <% pic_exist = Picture.find_by_article_id(article.id) %>
              <li class="span4 block">
              <% if pic_exist != nil %>
                <% @image = article.picture.first %>
                <%= link_to image_tag(@image.image_url(:thumb), :alt => "picture", :class => "attachment-port-full wp-post-image", :style=>"width:370px;height:245px;"), article_path(article.id) %>
              <% else %>
                <%= link_to image_tag("cookit.jpg", :alt => "picture", :class => "attachment-port-full wp-post-image"), article_path(article.id) %>
              <% end %>


              <h4><%= link_to article.title, article_path(article.id) %></h4>
              <p class="project-links"><%= link_to "View Epilogue", article_path(article.id), :class=>"btn btn-block btn-primary btn-default" %></p>
              <!-- <h6> edit    delete </h6> -->
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= paginate @articles %>
</div>

</br> </br>
<!-- Current_user : <%= !current_user.nil? %> -->
</div>
