<% provide(:title,'Report Volunteer') %>
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Popularity:</b>
  <%= @article.popularity %>
</p>

<p>
  <% pic_exist = Picture.find_by_article_id(@article.id) %>
  <% if pic_exist != nil %>
  <b>Photo:</b>
  <%= @article.photo_id %>
  <% @picture.each do |pic| %>
      <%= image_tag pic.image_url() if pic.image? %>
      <%-# if wanna thumbnail, pic.image_url(:thumb) -%>
  <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
