<header >
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <%= link_to "Youhoo", root_path, class: "brand" %>
             <div class="nav-collapse collapse">
               <ul class="nav">
                    <li><%= link_to "YOUHOO?",youhoo_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Volunteer<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              <li><%= link_to "후기 작성", new_article_path %></li>
                              <li><%= link_to "후기 공유",articles_path %></li>
                            </ul>
                    </li>
<li><%= link_to "비영리 List", org_lists_path %></li>
                     <% if current_user &&  current_user.uid == '100001720088532' %>
 
		    <li><%= link_to "Users", users_path %></li>
		<% end %>
		    <% if current_user %>
			<li id="fat-menu" class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    <%= current_user.name %><b class="caret"></b>
          <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square",  alt: "profile_image", :size => '20x20') %>
			  </a>
			  <ul class="dropdown-menu">
			    <li><%= link_to "Profile", user_path(current_user) %> </li>
			    <li class="divider"></li>
			    <li><%= link_to "Logout", signout_path, method:"delete" %> </li>
			  </ul>
			</li>
			<li> <%= link_to "Logout", signout_path %> </li>
 		    <% else %>
		    	<li><%= link_to "Sign in with facebook", "/auth/facebook/", id: "sign_in" %></li>
		    <% end %>
                </ul>
            </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div>
  </div>
</div>
</header>
